.container {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.description {
  width: 100%;
  text-align: end;
  font-size: 1rem;
  margin-top: 0;
  font-style: italic;
}

.charList{
  width: max-content;
}

.details{
  display: flex;
  justify-content: space-between;
}

.details>h3{
  margin: 16px 0;
}

.details>p{
  display: flex;
  align-items: center;
}

.pagination{
  padding: 0 4rem 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.pagination>li:is(:nth-child(1), :nth-child(3)){
  cursor: pointer;
}

.grid>ul>li{
  width: max-content;
  cursor: pointer;
  padding: .2rem 0;
}

.grid1>h2{
  width: 100%;
  text-align: center;
}

.grid1>ul>li{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.grid1>ul>li>p, .grid1>ul>li>p>p{
  margin: 0;
}

.grid1>ul>li>h3{
  width: 120px;
  margin: 0;
}

.loading{
  position: absolute;
  top: .5rem;
  left: .5rem;
}